<div class="js_page_main">
	<article class="ws-post">
        <header class="ws-post-header ws-hero -fullimage" style=" background-image: url('/img/item-tiles.png')">
            <h3 class="ws-post-title ws-post-titleplacard">Hevnly: brand assets</h3>
            <p class="ws-post-subtitle ws-post-titleplacard">Find hevnly brand logos, images, and other assets.</p>
        </header>

        <section class="ws-post-thepost">
            <p>When you're using hevnly's logo, be sure to give it some room either side. Please don't edit any of the assets in anyway. If you have any requests for any other brand assets, please get in touch with <a href="mailto:ashley@hevnly.com">ashley@hevnly.com</a>.</p>
            
            <a href="/some-link">
                <button class="cta pr-downloadable-btn">download all files</button>    
            </a>

            <h4 class="pr-downloadable-title">downloadable assets:</h4>
            <a href="/some-link" class="pr-downloadable">
                <img src="/img/downloadable-logotype-neg.png" class="pr-downloadable-asset" alt="Hevnly's logotype in negative colours. ">
                <img src="/img/downloadable-logotype-pos.png" class="pr-downloadable-asset" alt="Hevnly's logotype in positive colours. ">
                <img src="/img/downloadable-symbol-neg.png" class="pr-downloadable-asset" alt="Hevnly's brand symbol in negative colours. ">
                <img src="/img/downloadable-symbol-pos.png" class="pr-downloadable-asset" alt="Hevnly's brand symbol in positive colours">
                <img src="/img/downloadable-tiles.png" class="pr-downloadable-asset" alt="Hevnly's brand asset, the item card tiles. ">
                <img src="/img/downloadable-screenshot.png" class="pr-downloadable-asset" alt="Hevnly's brand asset, a screen shot of the app. ">    
            </a>
    
            <a href="/some-link">
                <button class="cta pr-downloadable-btn">download all files</button>    
            </a>
            
            <p>For further information on hevnly's work in fashion and technology, interviews or image requests please contact at <a href="mailto:ashley@hevnly.com">ashley@hevnly.com</a> or <a href="tel:07944826351">07944826351</a></p>
        </section>
    </article>
</div>