<div class="js_page_main">
    <article class="ws-post">
        <header class="ws-post-header ws-hero -fullimage" style=" background-image: url('/img/campaign-hero.png')">
            <h3 class="ws-post-title ws-post-titleplacard">Hevnly: Blurring the lines between fashion and tech</h3>
            <p class="ws-post-subtitle ws-post-titleplacard">Launching February 2016</p>
        </header>

        <section class="ws-post-thepost">
            <p>After nearly two years in quiet
development, February 2016 sees the newest
lifestyle / technology company make its official debut.
exists to help people find, curate and shop cont</p>
            
            <p>uilt on foundations of Simplicity, Serendipity and Style, hevnly is an ever-evolving accessories, all in one place.
discovery platform. At its core, hevnly exists to help users discover, curate and purchase contemporary fashion, home and lifestyle accessories - all from one destination.</p>

            <p>Badé Fatona, an entrepreneur, co-founded hevnly because of the difficulty in finding an online marketplace showcasing a refined collection of high-quality, contemporary clothing and lifestyle accessories from new, unknown and established designers.</p>

            <p>The hevnly platform has been sculpted as a curated exhibition of beautifully crafted products from around the world.</p>

            <blockquote>
                <p>“I love finding new, well-designed things from brands that I might have never heard about, and I couldn’t find that in the marketplace... There wasn’t really a platform that spoke to me as someone who appreciates design in every aspect of my life.”</p>
                <p class="ws-post-thepost-blockquote-author">badé fatona - founder (hevnly)</p>
            </blockquote>

            <p>Furthermore, the company has also designed and developed its own easy-to-use eCommerce software. The hevnly vendor tool allows brands and retailers to easily upload items for sale on their hevnly “store” and can synchronise with other eCommerce solutions such as Shopify.</p>

            <p>Having been operational in private beta for over six months, the platform will be available to the public from February. On the minimal and sleek gallery, customers will be able to quickly browse, create personalised collections and buy from a selection of contemporary fashion and lifestyle brands.</p>

            <p>The startup also boasts its own digital magazine, <a href="http://magazine.hevnly.com/">hevnly holy grail</a>. With no less than twelve features a month in themed editions, the highly visual editorial promises to get up close and personal, sharing the typically untold stories behind the leading names in contemporary fashion, design, art and culture.</p>

            <p>Impeccably and carefully curated, the platform exhibits a “tight collection of premium brands across fashion and lifestyle, with an overarching aesthetic identity”. With household names such as Our Legacy and Vitra already featured, hevnly is set to be the next destination for the style and design conscious.</p>

            <p>Hevnly - it is not about genre. It is not about trends. It is about outstanding design and captivating stories</p>

            <p>For further information on hevnly's work in fashion and technology, interviews or image requests please contact Ashley Bullivant on <a href="mailto:ashley@hevnly.com">ashley@hevnly.com</a> or <a href="tel:07944826351">07944826351</a></p>
        </section>
    </article>
</div>