        <!-- SITE FOOTER -->
        <footer role="contentinfo" class="ws-footer">
            <div class="ws-footer-socials clearfix">
                <a target="_blank" href="https://twitter.com/hevnly" class="ws-footer-socials-link">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" class="icn-twitter"><path d="M21.4,6.2c-0.7,0.3-1.4,0.5-2.2,0.6c0.8-0.5,1.4-1.2,1.7-2.1c-0.7,0.4-1.6,0.8-2.5,0.9 c-0.7-0.8-1.7-1.2-2.8-1.2c-2.1,0-3.9,1.7-3.9,3.9c0,0.3,0,0.6,0.1,0.9c-3.2-0.2-6.1-1.7-8-4C3.6,5.6,3.4,6.3,3.4,7 c0,1.3,0.7,2.5,1.7,3.2c-0.6,0-1.2-0.2-1.8-0.5c0,0,0,0,0,0c0,1.9,1.3,3.4,3.1,3.8c-0.3,0.1-0.7,0.1-1,0.1c-0.2,0-0.5,0-0.7-0.1 c0.5,1.5,1.9,2.7,3.6,2.7c-1.3,1-3,1.7-4.8,1.7c-0.3,0-0.6,0-0.9-0.1c1.7,1.1,3.7,1.7,5.9,1.7c7.1,0,11-5.9,11-11c0-0.2,0-0.3,0-0.5 C20.2,7.6,20.9,6.9,21.4,6.2z"></path></svg>
                    <sub class="ws-footer-socials-sub">@hevnly</sub>
                </a>
                <a target="_blank" href="http://instagram.com/curatedbyhevnly/" class="ws-footer-socials-link">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" class="icn-instagram"><path d="M5.3,2.9h13.4c1.3,0,2.3,0.9,2.3,2.3v13.4c0,1.4-1,2.3-2.3,2.3H5.3C4,20.9,3,19.9,3,18.6V5.2 C3,3.8,4,2.9,5.3,2.9L5.3,2.9z M16.1,4.9c-0.4,0-0.8,0.4-0.8,0.8v1.9c0,0.4,0.4,0.8,0.8,0.8h2c0.4,0,0.8-0.4,0.8-0.8V5.7 c0-0.4-0.4-0.8-0.8-0.8L16.1,4.9L16.1,4.9z M18.9,10.5h-1.6c0.1,0.5,0.2,1,0.2,1.5c0,3-2.5,5.4-5.6,5.4c-3.1,0-5.6-2.4-5.6-5.4 c0-0.5,0.1-1.1,0.2-1.5H5v7.6c0,0.4,0.3,0.7,0.7,0.7h12.5c0.4,0,0.7-0.3,0.7-0.7L18.9,10.5L18.9,10.5z M12,8.3 c-2,0-3.6,1.6-3.6,3.5s1.6,3.5,3.6,3.5c2,0,3.6-1.6,3.6-3.5S14,8.3,12,8.3z"></path></svg>
                    <sub class="ws-footer-socials-sub">@curatedbyhevnly</sub>
                </a>
                <a target="_blank" href="https://www.facebook.com/hevnlyholygrail" class="ws-footer-socials-link">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" class="icn-facebook"><path d="M9.9,20.9v-8.4H7.7v-3h2.2c0,0,0-1.2,0-2.6c0-2,1.3-3.9,4.3-3.9c1.2,0,2.1,0.1,2.1,0.1L16.2,6 c0,0-0.9,0-1.9,0c-1.1,0-1.3,0.5-1.3,1.3c0,0.7,0-1.4,0,2.2h3.3l-0.1,3h-3.1v8.4H9.9z"></path></svg>
                    <sub class="ws-footer-socials-sub">/hevnlyholygrail</sub>
                </a>
            </div>

            <!--don't show join section if user logged in-->
            <section class="ws-footer-join">
                <h3 class="ws-footer-join-msg">discover contemporary brands and accessories on hevnly | the invitation-only shopping platform and magazine.</h3>
                <button class="ws-footer-join-btn">request invite</button>
            </section>

            <ul class="ws-footer-contactus">
                <li class="ws-footer-contactus-brand"><a href="mailto:collective@hevnly.com?Subject=Message From Website" class="soft-link">are you a brand? <span>get in touch<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="icn-arrow-right-small" x="0px" y="0px" viewBox="231.412 259.501 269.021 553.215"><path d="M234.847 265.517c-4.579 9.158-4.579 18 0 32.054l215.216 238.112L234.847 773 c-4.579 9.158-4.579 22 0 32.053s18.316 9 27 0l228.953-251.85c4.579 0 4.579-4.578 4.579-4.578 c4.579-4.579 4.579-9.158 4.579-13.738c0-4.578-4.579-13.736-4.579-13.736c-4.579-4.58-4.579-4.58-4.579-4.58L262.322 274 C253.163 256 239 256 234 265.517z"></path></svg></span></a></li>
                <li class="ws-footer-contactus-email"><a href="mailto:hello@hevnly.com?Subject=Message From Website">hello@hevnly.com</a></li>
                <li class="ws-footer-contactus-phone"><a href="tel:+44 (0) 207193 8284">+44 (0) 207 193 8284</a></li>
            </ul>

            <ul class="ws-footer-legal">
                <li class="ws-footer-legal-terms"><a target="_blank" href="https://hevnly.com/termsofuse">terms of use</a></li>
                <li class="ws-footer-legal-privacy"><a target="_blank" href="https://hevnly.com/privacy">privacy policy</a></li>
            </ul>
        </footer>
        <!--// SITE FOOTER -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
