<header role="banner" class="ws-header">
    <div class="ws-header-navrow">
        <a href="/" class="ws-logotype">
            <img src="https://d1aq1bw1xvj3lr.cloudfront.net/v0.4.4/images/brand/logotype/hevnly_logotype_neg.png" alt="hevnly's logo branding" class="ws-logotype-image">
        </a>
        <nav class="ws-sitenav -standalone">
            <a href="/press-release" class="accent -ws-sitenav-press">Press Release</a>
            <a href="/brand-assets" class="-ws-sitenav-brand">Brand Assets</a>
        </nav>
    </div>
</header>